<header id="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{ path('app_index') }}">
			<img src="{{ asset('/assets/img/logo.png') }}">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_index') }}">Recherche</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('map') }}">Plan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('blog_index') }}">Le recyclage</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">News</a>
				</li>
				{# <li class="nav-item">
					<a class="nav-link" href="{{ path('app_index') }}">Kids</a>
				</li> #}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_index') }}">A propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('contact') }}">Contact</a>
				</li>

				{% if is_granted('ROLE_ADMIN') %}

					<li class="nav-item dropdown">

						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button">Espace Admin</a>

						<div class="dropdown-menu">

							<a class="dropdown-item" href="{{path('page_index')}}">Articles</a>

							<a class="dropdown-item" href="{{path('category_index')}}">Usages</a>

							<a class="dropdown-item" href="{{path('objet_index')}}">Objets</a>

							<a class="dropdown-item" href="{{path('material_index')}}">Matériaux</a>

							<a class="dropdown-item" href="{{path('tag_index')}}">Tags</a>

						</div>

					</li>

				{% endif %}

				{% if is_granted('ROLE_USER') %}
					<li class="nav-item">
						<a class="nav-link" href="/logout">Déconnexion</a>
					</li>

				{% endif %}
			</ul>
		</div>
	</nav>
</header>
