{{ form_start(form) }}

<div class="col">
	{{form_row(form.title, {'name':'Titre'})}}
</div>

<div class="col">
	{{form_row(form.content, {'id':'summernote', 'name':'Contenu', 'rows':'50', 'style':'resize: none'})}}
</div>

<div class="col">
	{{form_row(form.pageName)}}
</div>

{# {{ form_widget(form) }} #}

<button class="btn">{{ button_label|default('Créer') }}</button>

{{ form_end(form) }}
