{% extends 'base.html.twig' %}

{% block title %}Index des articles
{% endblock %}

{% block body %}
	<h1>Index des articles</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Contenu</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td>{{ page.id }}</td>
					<td>{{ page.title }}</td>
					<td>{{ page.content|raw}}</td>
					<td>
						<a class="btn btn-success" href="{{ path('page_show', {'id': page.id}) }}">Voir</a>
						<a class="btn btn-info" href="{{ path('page_edit', {'id': page.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun article trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button class="btn btn-primary">
		<a href="{{ path('page_new') }}">Créer</a>
	</button>
{% endblock %}
