{% extends 'base.html.twig' %}

{% block title %}Page
{% endblock %}

{% block body %}

	<h1>{{ page.title }}</h1>

	{{ page.content|raw }}

<div class="d-flex">

	<button class="btn btn-primary">
		<a href="{{ path('app_index') }}">Retour à l'accueil</a>
	</button>

	{% if app.user %}
		<button class="btn btn-information">
			<a href="{{ path('page_edit', {'id': page.id}) }}">Editer</a>
		</button>

		{{ include('page/_delete_form.html.twig') }}

	{% endif %}

</div>

{% endblock %}
