{% extends 'base.html.twig' %}

{% block title %}Liste des usages{% endblock %}

{% block body %}
    <h1>Liste des usages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usage</th>
                <th>Consigne de tri</th>
                <th>Picto</th>
                <th></th>

               
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.devenir }}</td>
                <td>{{ category.picture }}</td>
                <td>
                    <button class="btn"><a href="{{ path('category_show', {'id': category.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun usage trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}"><button class="btn">Ajouter un usage</button></a>
{% endblock %}
