{% extends 'base.html.twig' %}

{% block title %}Point de collecte
{% endblock %}

{% block body %}
	<h1>Point de Collecte</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ collection_point.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ collection_point.name }}</td>
			</tr>
			<tr>
				<th>Numéro de voie</th>
				<td>{{ collection_point.streetNumber }}</td>
			</tr>
			<tr>
				<th>Nom de la voie</th>
				<td>{{ collection_point.streetName }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ collection_point.city }}</td>
			</tr>
			<tr>
				<th>Code Postal</th>
				<td>{{ collection_point.zipCode }}</td>
			</tr>
			<tr>
				<th>Latitude</th>
				<td>{{ collection_point.coordinateX }}</td>
			</tr>
			<tr>
				<th>Longitude</th>
				<td>{{ collection_point.coordinateY }}</td>
			</tr>
			<tr>
				<th>Horaires d'ouverture</th>
				<td>{{ collection_point.openingTime }}</td>
			</tr>
			<tr>
				<th>Commentaires</th>
				<td>{{ collection_point.review }}</td>
			</tr>
			<tr>
				<th>Téléphone</th>
				<td>{{ collection_point.phone }}</td>
			</tr>
			<tr>
				<th>Site Web</th>
				<td>{{ collection_point.website }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ collection_point.email }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('collection_point_index') }}">Retour à la liste de résultat</a>

	<a href="{{ path('collection_point_edit', {'id': collection_point.id}) }}">Mettre à jour</a>
	<a href="{{ path('app_index') }}">Retour à l'accueil</a>
	{{ include('collection_point/_delete_form.html.twig') }}
{% endblock %}
