{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de l'objet</th>
                <th>Comment éviter sa production</th>
                <th>Valide</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.name }}</td>
                <td>{{ objet.avoidProduction }}</td>
                <td>{{ objet.valide ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('objet_edit', {'id': objet.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objet_new') }}">Ajouter un objet</a>
{% endblock %}
