{% extends 'base.html.twig' %}

{% block title %}
Index des objets
{% endblock %}

{% block body %}
	<h1>Index des objets</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom de l'objet</th>
				<th>Nom Complet de l'objet</th>
				<th>Matériaux</th>
				<th>Usage</th>
				<th>Valide</th>
				<th></th>
			
			</tr>
		</thead>
		<tbody>
			{% for objet in objets %}
				<tr>
					<td>{{ objet.id }}</td>
					<td>{{ objet.name }}</td>
					<td>{{ objet.newName }}</td>
					<td>{{ objet.materialId.name }}</td>
					<td>{{ objet.useId.name }}</td>
					{# <td>{{ objet.avoidProduction }}</td>#}
					<td>{{ objet.valide ? 'Yes' : 'No' }}</td>
					<td>
						<button class="btn">
							<a href="{{ path('objet_show', {'id': objet.id}) }}">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>

							<a href="{{ path('objet_edit', {'id': objet.id}) }}">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun objet trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>
<div class="text-center">
	<a href="{{ path('objet_invalidObjects') }}">
		<button class="btn">Objets non validés</button>
	</a>
	<a href="{{ path('objet_new')}}" style="margin-left:30px">
		<button class="btn">Ajouter un objet</button>
	</a>
</div>
{% endblock %}
