{{ form_start(form) }}

<div class="col">
	{{ form_row(form.title, {'name':'Titre'})}}
</div>

<div class="col">
	{{ form_row(form.short_content, {'name':'Version courte'})}}
</div>

<div class="col">
	{{ form_row(form.content, {'id':'summernote', 'name':'Contenu'})}}
</div>

<div class="col">
	{{ form_row(form.createdAt, {'name':'Date d\'ajout'})}}
	</div>

{# {{ form_widget(form) }} #}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
