{% extends 'base.html.twig' %}

{% block title %}Blog index
{% endblock %}

{% block body %}

	<h3 class="mt-5">Nos derniers articles :</h3>
	<div class="filter-button-group">
		<button type"button" class="btn btn-secondary element-item" data-filter="*">Tous les articles</button>
		{% for tag in tags %}
			<button type"button" class="btn btn-secondary element-item" data-filter=".{{ tag.name }}">{{ tag.name }}</button>
		{% endfor %}
	</div>
	<div id="blog" class="row pt-5 grid">

		{% for blog in blogs %}

			{% set tagName = "" %}
			{% for tag in blog.blogHasTag %}
				{% set tagName = tagName ~ ' ' ~ tag.name %}
			{% endfor %}


			<div class="card m-3 col-5 grid-item {{ tagName }}">
				<img class="card-img-top mt-1" src="{{ asset('/assets/img/dechets.jpg') }}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">{{ blog.title }}</h5>
					<p class="card-text">{{ blog.shortContent }}</p>
					<p class="card-text">
						<small class="text-muted">Posté le :
							{{ blog.createdAt ? blog.createdAt|date('Y-m-d') : '' }}</small>
					</p>
					<a href="{{ path('blog_show', {'id': blog.id}) }}" class="btn btn-success">Lire l'article</a>
				</div>
			</div>
		{% else %}

			<tr>
				<td colspan="6">Aucun article trouvé</td>
			</tr>
		{% endfor %}
	</div>

	{% if app.user %}
		<button class="btn btn-primary">
			<a href="{{ path('blog_new') }}">Créer</a>
		</button>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
	<script src="{{ asset('/assets/js/scriptsBlog.js') }}"></script>
{% endblock %}
