{% extends 'base.html.twig' %}

{% block title %}
	{{ blog.title }}
{% endblock %}

{% block body %}


	<div id="blog" class="pt-5">
		<h3>{{ blog.title }}</h3>
		<br>
		{{ blog.content|raw }}
		<br>
		{% for tag in blog.blogHasTag %}
			{{tag.name}}
		{% endfor %}
	</div>

	<br>
	<div class="row">
		<button class="btn btn-secondary">
			<a href="{{ path('blog_index') }}">Retour à la liste</a>
		</button>

		{% if is_granted('ROLE_ADMIN') %}
        
			<button class="btn btn-info">
				<a href="{{ path('blog_edit', {'id': blog.id}) }}">Modifier</a>
			</button>

		{{ include('blog/_delete_form.html.twig') }}

		{% endif %}

	</div>
{% endblock %}
